.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: 767px) {
    margin-bottom: 0px;
    flex-direction: column;
  }

  &_img-container {
    text-align: center;
    @media screen and (max-width: 767px) {
    }
    img {
      width: 85%;
      max-width: 300px;
    }
  }

  &_img-container-notoken {
    text-align: center;
    margin-top: 30px;
    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
    img {
      width: 85%;
      max-width: 300px;
    }
  }

  &_navigation {
    ul {
      display: flex;
      align-items: center;
      margin-top: 0px;
      padding-left: 0px;
      margin-bottom: 0px;
      list-style-type: none;
      @media screen and (max-width: 767px) {
        justify-content: center;
        margin-bottom: 20px;
      }

      .logOut {
        padding: 10px;
        display: flex;
        img {
          height: 25px;
          cursor: pointer;
        }
      }

      a {
        text-decoration: none;
        padding: 10px;
        color: black;
        li {
          transition: 0.2s;
          cursor: pointer;
        }
      }

      .nav-active {
        position: relative;
        &::after {
          content: '';
          height: 4px;
          width: 55%;
          background: $color-secondary;
          position: absolute;
          border-radius: 10px;
          bottom: 0px;
        }
      }
    }
  }
}
